<div class="specification-container">
    
    <h1>Details about birthday packages, offers, and services.😊</h1>
    <span><h2>🎉 Make Every Birthday Bash Unforgettable 🎉 Discover the magic of personalized celebrations…</h2></span>

    <p> <b> Step into a world where birthdays are more than just parties—they’re unique experiences tailored to make every wish come true. Order and let us take you on a journey of joy and celebration.</b></p>
    <img src="../../assets/bday1.jpg" alt="loading" height="200px" width="200px">
      <h2><li>Why Celebrate with Us?</li></h2>
      
      <h2><li>Tailored Themes:</li> </h2><p>From superhero adventures to enchanted fairy tales, choose a theme that resonates with the birthday star.</p>
      <h2><li>Exclusive Deals:</li></h2> <p>Grab our special birthday packages with exciting discounts and complimentary add-ons.</p>
      <h2><li>Signature Touches:</li></h2><p> Delight in our specialty services like custom cakes, entertainment acts, and decor that dazzle.</p>
      <a><b>"Our Commitment We promise a seamless celebration that not only honors the day but also creates memories that last a lifetime. Our dedicated team ensures every detail is handled with precision and passion."</b></a>
      
      <a><b><h2>Ready to Party? </h2>Your perfect birthday celebration is just a click away. Tap here to start planning a day filled with laughter, love, and unforgettable moments.</b></a>
  </div>
  <div class="btn">
    <button routerLink="/appoinment" routerLinkActive="active">Appoinment</button>
  
  </div>