<div class="specification-container">
    <h1>Earpiercing Specifications and Offers</h1>
    <p>Details about marriage packages, offers, and services.</p>
    <h2>✨ Sparkle and Shine with Our Ear Piercing Service ✨ Transform your look with a touch of elegance…</h2>

      
      <h2>Why Choose Our Ear Piercing Experience?</h2>
      
      <h2><li>Personalized Consultation: </li></h2><p>Our experts provide a one-on-one session to help you select the perfect piercing that complements your personality.</p>
      <h2><li>Exclusive Offers: </li></h2><p>Avail of our special introductory prices and combo deals that include aftercare products.</p>
      <h2><li>Specialty Selections:</li></h2><p> From classic studs to trendy hoops, we offer a diverse range of jewelry to adorn your new piercing.</p>
      <a>"Our Assurance Your comfort and safety are our top priorities. We adhere to the highest standards of hygiene and use state-of-the-art equipment for a seamless experience."</a>"
      
  </div>
  <div class="btn">
    <button routerLink="/appoinment" routerLinkActive="active">Appoinment</button>
  
  </div>