<div class="card-container">
  <div class="card" (click)="navigateTo('marriage')">
    <img src="../../assets/mer.jpg" alt="loading" height="100px" width="100px">
    <div class="card-content">
      <h2>Marriage</h2>
      
      <p>Discover our marriage specifications and offers.</p>
    </div>
  </div>
  <div class="card" (click)="navigateTo('birthday')">
    <img src="../../assets/bday.jpg" alt="loading" height="100px" width="100px">
    <div class="card-content">
      <h2>Birthday</h2>
      <p>Discover our birthday specifications and offers.</p>
    </div>
  </div>
  <div class="card" (click)="navigateTo('earpiercing')">
    
    <img src="../../assets/baby.png" alt="loading" height="100px" width="100px">
    <div class="card-content">
      <h2>EarPiercing</h2>
      <p>Discover our earpiercing specifications and offers.</p>
    </div>
  </div>
  <div class="card" (click)="navigateTo('farewell')">
    
    <img src="../../assets/farewell.jpg" alt="loading" height="100px" width="100px">
    <div class="card-content">
      <h2>FareWell</h2>
      <p>Discover our farawell specifications and offers.</p>
    </div>
  </div>
  <div class="card" (click)="navigateTo('reunion')">
    
    <img src="../../assets/reunion.webp" alt="loading" height="100px" width="100px">
    <div class="card-content">
      <h2>Reunion</h2>
      <p>Discover our reunion specifications and offers.</p>
    </div>
  </div>
</div>
