<div class="specification-container">

  <h2>Celebrate Love with Elegance and Grace Your dream wedding awaits…🥰</h2>
  <p> <span><h3>Welcome to our ❤️Marriage Event Management❤️</h3></span> services, where every moment of your special day is crafted with utmost care and personalized attention. Click on the link to embark on a journey towards your fairytale wedding.</p>
  <img src="../../assets/wed3.jpg" alt="loading" height="200px" width="200px">
  <h3>Why Choose Us?</h3>
  <span><h3><li>Exclusive Offers:</li></h3> <p>Enjoy our early bird specials and seasonal discounts designed to provide you with the best value.</p></span>
  <span><h3><li>Customized Packages:</li></h3> <p>Whether it’s a grand royal wedding or an intimate beach ceremony, we tailor every detail to your preference.</p></span>
  <span><h3><li>Specialty Services: </li></h3><p>From exquisite floral arrangements to gourmet catering, our specialty services will enchant you and your guests.</p></span>
  <p><b>Our Promise We ensure that your wedding day is nothing short of perfection. With our expert planners and exclusive vendor partnerships, we bring to life the wedding you’ve always envisioned.</b></p>
  
  <span><a><b>"Make Your Dream Wedding a Reality Don’t wait to make your dream wedding come true...💕"</b></a></span>
  
  
  </div>
<div class="btn">
  <button routerLink="/appoinment" routerLinkActive="active">Appoinment</button>

</div>
  