<div class="specification-container">
    <h1>Reunion Specifications and Offers</h1>
    <a>🎈 Reunite and Relive the Memories 🎈 Where every moment is a cherished memory reborn…</a><br>

      <a>Step back in time and reconnect at our Reunion Events. Click on the link to weave new tales at the place where old friends meet and new memories are made.</a>
      <img src="../../assets/Reunion2.png" alt="loading" height="200px" width="200px">

      <h2>Why Our Reunion Events Are Special?</h2>
      
      <h2><li>Customized Experiences: </li></h2><p>Tailor your reunion with themes that bring back the good old days.</p>
      <h2><li>Exclusive Offers: </li></h2><p>Take advantage of our early bird discounts and group package deals.</p>
      <h2><li>Special Touches:</li></h2><p> Enjoy our complimentary memory books and photo booths to capture the moments.</p>
      <a>"Our Commitment We dedicate ourselves to recreating the warmth of past friendships with a touch of today’s luxury. Our team works tirelessly to ensure your reunion is not just an event, but a milestone to be remembered."</a>
      
      <p>Ready to Reconnect? Your journey down memory lane is just a click away.</p>
  </div>
<div class="btn">
  <button routerLink="/appoinment" routerLinkActive="active">Appoinment</button>

</div>